html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

html {
  font-family: sans-serif;
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

input, textarea, select, button {
  font-size: inherit; }

a {
  color: inherit;
  text-decoration: none; }

p, ul, ol {
  padding: 0;
  margin: 0;
  line-height: 1.5em; }

h1, h2, h3, h4, h5 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.grid-row {
  display: flex;
  flex-wrap: nowrap; }

.division {
  display: block;
  width: 100%;
  height: 400px;
  background-color: #f6f6f6;
  margin-top: 100px; }

.button {
  font-size: 1.6rem;
  color: #433ac7;
  background-color: #ffffff;
  color: #433ac7;
  background-color: #ffffff;
  animation-name: darkenbgrev;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  padding: 0 2em;
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  border-left: rgba(0, 0, 0, 0.1) solid 1px;
  border-right: rgba(0, 0, 0, 0.1) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px; }
@keyframes darkenbg {
  from {
    background-color: #ffffff; }
  to {
    background-color: #f2f2f2; } }
@keyframes darkenbgrev {
  from {
    background-color: #f2f2f2; }
  to {
    background-color: #ffffff; } }
  .button:active, .button:focus, .button:hover {
    animation-name: darkenbg;
    animation-duration: .5s;
    animation-fill-mode: forwards; }
  .button__label {
    padding-right: 1em;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .button__icon {
    display: flex;
    align-items: center;
    justify-content: center; }
    .button__icon svg {
      width: 1em;
      height: 1em; }
    .button__icon--standalone {
      padding: 1em; }

.header {
  height: 270px; }
  .header__crest {
    width: 100%;
    max-width: 120px;
    height: auto;
    display: block; }
    .header__crest img {
      width: 100%;
      height: auto; }
  .header__main {
    height: calc(100% - 60px);
    display: flex;
    align-items: center; }
  .header__utility {
    display: none;
    padding: 1em;
    display: flex;
    justify-content: flex-end; }
    @media only screen and (min-width: 500px) {
      .header__utility {
        display: flex; } }
    .header__utility span {
      padding: 0 .5em; }

.nav {
  height: 60px;
  color: #ffffff;
  background-color: #ffffff;
  border-top: rgba(0, 0, 0, 0.1) solid 1px; }
  .nav__list {
    display: flex;
    height: auto;
    flex-direction: column;
    border-right: rgba(0, 0, 0, 0.1) solid 1px; }
    @media only screen and (min-width: 500px) {
      .nav__list {
        height: 60px;
        flex-direction: row; } }
  .nav__item {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 2em;
    border-left: rgba(0, 0, 0, 0.1) solid 1px;
    text-decoration: none;
    font-weight: bold;
    flex-grow: 1;
    color: #433ac7;
    color: #433ac7;
    background-color: #ffffff;
    animation-name: darkenbgrev;
    animation-duration: .5s;
    animation-fill-mode: forwards; }
@keyframes darkenbg {
  from {
    background-color: #ffffff; }
  to {
    background-color: #f2f2f2; } }
@keyframes darkenbgrev {
  from {
    background-color: #f2f2f2; }
  to {
    background-color: #ffffff; } }
    .nav__item:active, .nav__item:focus, .nav__item:hover {
      animation-name: darkenbg;
      animation-duration: .5s;
      animation-fill-mode: forwards; }

.subnav {
  padding-top: 1em;
  font-size: 1.2em; }
  .subnav__item {
    display: block;
    padding: 1em 2em; }

.row {
  width: calc(100% - 10px);
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5px; }

.grid {
  width: calc(100% - 10px);
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5px;
  flex-direction: column;
  display: flex;
  justify-content: flex-start; }
  @media only screen and (min-width: 1000px) {
    .grid {
      flex-direction: row; } }
  @media only screen and (min-width: 1000px) {
    .grid--row-2 .grid-1 {
      width: 50%; }
    .grid--row-2 .grid-2 {
      width: 100%; }
    .grid--row-3 .grid-1 {
      width: 33.33%; }
    .grid--row-3 .grid-2 {
      width: 66.66%; }
    .grid--row-3 .grid-3 {
      width: 100%; }
    .grid--row-4 .grid-1 {
      width: 25%; }
    .grid--row-4 .grid-2 {
      width: 50%; }
    .grid--row-4 .grid-3 {
      width: 75%; }
    .grid--row-4 .grid-4 {
      width: 100%; }
    .grid--row-8 .grid-1 {
      width: 12.5%; }
    .grid--row-8 .grid-2 {
      width: 25%; }
    .grid--row-8 .grid-3 {
      width: 37.5%; }
    .grid--row-8 .grid-4 {
      width: 50%; }
    .grid--row-8 .grid-5 {
      width: 62.5%; }
    .grid--row-8 .grid-6 {
      width: 75%; }
    .grid--row-8 .grid-7 {
      width: 87.5%; }
    .grid--row-8 .grid-8 {
      width: 100%; } }
  .grid__item {
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 500px) {
      .grid__item {
        width: 50%; } }
    @media only screen and (min-width: 1000px) {
      .grid__item {
        width: 100%;
        padding-left: 4rem;
        padding-right: 4rem; } }
  @media only screen and (min-width: 1000px) {
    .grid__text-padding {
      padding-left: 5vw; } }

.homepage-grid {
  padding: 1px 0; }
  .homepage-grid .card {
    border: 10px solid #ffffff; }

.panel {
  width: 100%;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
  display: block; }

.panel_full-width {
  width: 100%; }

.banner-hero {
  width: 100%;
  height: calc(100vh - 270px);
  position: relative;
  background-image: url("../images/content/home-banner.jpg");
  background-size: cover;
  background-position: center center; }
  .banner-hero__overlay {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2em; }
    @media only screen and (min-width: 500px) {
      .banner-hero__overlay {
        font-size: 4em; } }
  .banner-hero__site-title {
    width: 100%;
    max-width: 700px;
    font-weight: bold;
    padding-bottom: 1em; }

.banner {
  width: 100%;
  height: calc(80vh - 270px);
  position: relative;
  background-image: url("../images/content/banner1.jpg");
  background-size: cover;
  background-position: center center; }
  .banner__overlay {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2em; }
    @media only screen and (min-width: 500px) {
      .banner__overlay {
        font-size: 4em; } }
  .banner__page-title {
    width: 100%;
    max-width: 700px;
    font-weight: bold;
    padding-bottom: 1em; }

.hamburger {
  width: 30px;
  height: 30px;
  position: relative; }
  .hamburger__line {
    width: 30px;
    height: 1px;
    background-color: black;
    position: absolute; }
    .hamburger__line.anim {
      position: relative; }
    .hamburger__line.line1 {
      top: 0;
      left: 0; }
      .hamburger__line.line1.anim {
        animation-name: anim-hamburger1;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
      .hamburger__line.line1.anim-rev {
        animation-name: anim-hamburger1rev;
        animation-duration: .3s;
        animation-fill-mode: backwards;
        animation-direction: reverse; }
    .hamburger__line.line2 {
      top: 15px;
      left: 0; }
      .hamburger__line.line2.anim {
        animation-name: anim-hamburger2;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
      .hamburger__line.line2.anim-rev {
        animation-name: anim-hamburger2rev;
        animation-duration: .3s;
        animation-fill-mode: backwards;
        animation-direction: reverse; }
    .hamburger__line.line3 {
      top: 30px;
      left: 0; }
      .hamburger__line.line3.anim {
        animation-name: anim-hamburger3;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
      .hamburger__line.line3.anim-rev {
        animation-name: anim-hamburger3rev;
        animation-duration: .3s;
        animation-fill-mode: backwards;
        animation-direction: reverse; }

@keyframes anim-hamburger1 {
  from {
    top: 0;
    transform: rotate(0); }
  to {
    top: 15px;
    transform: rotate(45deg); } }
@keyframes hamburger1rev {
  from {
    top: 0;
    transform: rotate(0); }
  to {
    top: 15px;
    transform: rotate(45deg); } }
@keyframes hamburger2 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes hamburger2rev {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes hamburger3 {
  from {
    top: 30px;
    transform: rotate(0); }
  to {
    top: 13px;
    transform: rotate(-45deg); } }
@keyframes hamburger3rev {
  from {
    top: 30px;
    transform: rotate(0); }
  to {
    top: 13px;
    transform: rotate(-45deg); } }
.card {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background-image: url(../images/content/home-grid-0.jpg);
  background-size: cover;
  background-position: center center; }
  .card--rect {
    padding-bottom: 70%; }
  .card__overlay {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    background-color: #433ac7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .card__overlay .button {
      color: #433ac7;
      background-color: #ffffff;
      animation-name: darkenbgrev;
      animation-duration: .5s;
      animation-fill-mode: forwards; }
@keyframes darkenbg {
  from {
    background-color: #ffffff; }
  to {
    background-color: #f2f2f2; } }
@keyframes darkenbgrev {
  from {
    background-color: #f2f2f2; }
  to {
    background-color: #ffffff; } }
      .card__overlay .button:active, .card__overlay .button:focus, .card__overlay .button:hover {
        animation-name: darkenbg;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
  .card__overlay-inner {
    display: block;
    text-align: center; }
  .card__name {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 1em; }
  .card-0 {
    background-image: url(../images/content/home-grid-0.jpg); }
  .card-1 {
    background-image: url(../images/content/home-grid-1.jpg); }
  .card-2 {
    background-image: url(../images/content/home-grid-2.jpg); }
  .card-2-0 {
    background-image: url(../images/content/home-grid-2-0.jpg); }
  .card-2-1 {
    background-image: url(../images/content/home-grid-2-1.jpg); }

footer .panel {
  padding: 2em 0; }

.breadcrumb {
  padding: 1em 0; }
  .breadcrumb__item {
    padding-right: .7em; }

.hamburger {
  width: 30px;
  height: 30px;
  position: relative; }
  .hamburger__line {
    width: 30px;
    height: 1px;
    background-color: black;
    position: absolute; }
    .hamburger__line.anim {
      position: relative; }
    .hamburger__line.line1 {
      top: 0;
      left: 0; }
      .hamburger__line.line1.anim {
        animation-name: anim-hamburger1;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
      .hamburger__line.line1.anim-rev {
        animation-name: anim-hamburger1rev;
        animation-duration: .3s;
        animation-fill-mode: backwards;
        animation-direction: reverse; }
    .hamburger__line.line2 {
      top: 15px;
      left: 0; }
      .hamburger__line.line2.anim {
        animation-name: anim-hamburger2;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
      .hamburger__line.line2.anim-rev {
        animation-name: anim-hamburger2rev;
        animation-duration: .3s;
        animation-fill-mode: backwards;
        animation-direction: reverse; }
    .hamburger__line.line3 {
      top: 30px;
      left: 0; }
      .hamburger__line.line3.anim {
        animation-name: anim-hamburger3;
        animation-duration: .3s;
        animation-fill-mode: forwards; }
      .hamburger__line.line3.anim-rev {
        animation-name: anim-hamburger3rev;
        animation-duration: .3s;
        animation-fill-mode: backwards;
        animation-direction: reverse; }

@keyframes anim-hamburger1 {
  from {
    top: 0;
    transform: rotate(0); }
  to {
    top: 15px;
    transform: rotate(45deg); } }
@keyframes hamburger1rev {
  from {
    top: 0;
    transform: rotate(0); }
  to {
    top: 15px;
    transform: rotate(45deg); } }
@keyframes hamburger2 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes hamburger2rev {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes hamburger3 {
  from {
    top: 30px;
    transform: rotate(0); }
  to {
    top: 13px;
    transform: rotate(-45deg); } }
@keyframes hamburger3rev {
  from {
    top: 30px;
    transform: rotate(0); }
  to {
    top: 13px;
    transform: rotate(-45deg); } }
.content__intro {
  padding-top: 1em;
  padding-bottom: 1em; }
  .content__intro p {
    max-width: 800px; }
  @media only screen and (min-width: 500px) {
    .content__intro {
      font-size: 1.5em; } }
  .content__intro--homepage {
    padding: 2em 0; }
.content__body {
  padding-top: 1em;
  padding-bottom: 4em; }
  .content__body p, .content__body ul, .content__body ol {
    padding-bottom: 1.2em;
    max-width: 800px; }
  .content__body h1, .content__body h2, .content__body h3, .content__body h4, .content__body h5 {
    padding-bottom: 1em;
    padding-right: 1em;
    font-size: 1.7em; }
  .content__body ul li {
    margin-left: 1em;
    width: calc(100% - 1em); }

/*# sourceMappingURL=main.css.map */
