.banner{
    width:100%;
    height:calc(80vh - #{$header-height});
    position:relative;
    background-image:url('../images/content/banner1.jpg');
    background-size:cover;
    background-position:center center;
    &__overlay{
        position:relative;
        z-index:1;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        align-items:center;
        font-size:2em;
        @include bp($bp1){
            font-size:4em;
        }
    }
    &__page-title{
        width:100%;
        max-width:700px;
        font-weight:bold;
        padding-bottom:1em;
    }
}