$height:80px;

.button{
    font-size:$font-size-reset;
    background-color:white;
  padding:0 1em;
  width:auto;
  height:$height;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  cursor:pointer;
  border-top:rgba(0,0,0,0.1) solid 1px;
  border-bottom:rgba(0,0,0,0.1) solid 1px;
  border-left:rgba(0,0,0,0.1) solid 1px;
  border-right:rgba(0,0,0,0.1) solid 1px;

  &__label{
    padding:0 1em;
    width:auto;
    height:$height;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  &__icon{
    padding:0 1em;
    width:auto;
    height:$height;
    display:flex;
    align-items:center;
    justify-content:center;
    &--standalone{
      padding:1em;
    }
  }
}

@mixin button($bg-color, $text-color){
    .button{
        color:$text-color;
      background-color:$bg-color;
      &:active, &:focus, &:hover{
        animation-name:darkenbg;
        animation-duration:.5s;
        animation-fill-mode:forwards;
      }
      &:not(:active, :focus, :hover){
        animation-name:darkenbgrev;
        animation-duration:.5s;
        animation-fill-mode:forwards;
      }
      @include darkenbgonhover($bg-color);
    }
}




