$bg-color:$white;
$height:80px;


.button{
    font-size:$font-size-reset;
  background-color:$bg-color;
  padding:0 1em;
  width:auto;
  height:$height;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  cursor:pointer;
  border-top:rgba(0,0,0,0.1) solid 1px;
  border-bottom:rgba(0,0,0,0.1) solid 1px;
  border-left:rgba(0,0,0,0.1) solid 1px;
  border-right:rgba(0,0,0,0.1) solid 1px;
  &:active, &:focus, &:hover{
    animation-name:darkenbg;
    animation-duration:.5s;
    animation-fill-mode:forwards;
  }
  &:not(:active, :focus, :hover){
    animation-name:darkenbgrev;
    animation-duration:.5s;
    animation-fill-mode:forwards;
  }

  @include darkenbgonhover($bg-color);

  &__label{
    padding:0 1em;
    width:auto;
    height:$height;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  &__icon{
    padding:0 1em;
    width:auto;
    height:$height;
    display:flex;
    align-items:center;
    justify-content:center;
    &--standalone{
      padding:1em;
    }
  }

  &--inbody{
    font-weight:normal;
    padding:1em 2em;
    margin-bottom:1.4em;
  }
  &--inversed{
    $bg-color:black;
    background-color:$bg-color;
    color:white;
    font-weight:normal;
    &:active, &:focus{
      background-color:lighten($bg-color, 5%);
    }
  }

}