$height:80px;
$button-border:rgba(0,0,0,0.1) solid 1px;

@mixin button($text-color, $bg-color){
  .button{
    font-size:$font-size-reset;
    color:$text-color;
    background-color:$bg-color;
    @include hover($text-color, $bg-color);
    padding:0 1em;
    width:auto;
    height:$height;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    cursor:pointer;
    border-top:$button-border;
    border-left:$button-border;
    border-right:$button-border;
    border-bottom:$button-border;
    &__label{
      padding:0 1em;
      width:auto;
      height:$height;
      display:flex;
      align-items:center;
      justify-content:center;
    }
    &__icon{
      padding:0 1em;
      width:auto;
      height:$height;
      display:flex;
      align-items:center;
      justify-content:center;
      &--standalone{
        padding:1em;
      }
    }
  }
}


@include button($brand-color,$white);