.panel{
    width:100%;
    border-bottom:rgba(0,0,0,0.1) solid 1px;
    display:block;
    &__inner{
        display:block;
        margin:0 auto;
        max-width:1400px;
        width:100%;
    }
}